db.sqlite3
*.pyc
*.DS_Store
conference/migrations/*
!conference/migrations/__init__.py
conference/utils.py
annotation/migrations/*
!annotation/migrations/__init__.py
media/*
!media/papers/*
!media/pre_load_data
*.DS_Store
.idea*
*.svg
*.sketch
